:root {
    --accent-color: rgb(167, 204, 211);
    --dark: rgb(61, 60, 60);
  }
  
* {
    /* border: 1pt solid rebeccapurple; */

}

body {
    font-family: Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(210, 217, 228);
    /* margin-right: 5%; */
}

header {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 3%;
    align-items: center;
    color: var(--accent-color);
}

header nav ul li a{
    border-bottom: 5px solid var(--accent-color);
}

a:link,
a:visited {
    text-decoration: none;
}
  
a:hover {
    font-weight: bold;
}

header a:link,
header a:visited {
    color: var(--accent-color);
}

h1,
h2 {
    font-size: 250%;
}

#my-name {
    padding-left: 5%;
    background-color: var(--accent-color);
    color: var(--dark);
}

#header-nav-links {
    font-size: 110%;
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}

/* greeting section */
#greeting {
    height: 100px;
    background-image: url("./photos/sunset.jpg");
    background-size: cover;
    position: relative; 
}

#greeting-text {
    display: inline-block;
    position: absolute;
    bottom: 15%;
    right: 5%;
    background-color: var(--accent-color);
    font-size: min(200%, 50px);
    padding: 1%;
}

/* main content section */
main {
    color: var(--dark);
}

.section-heading,
.section-content {
    /* padding-right: 1%;
    margin-right: 1%; */
    margin-top: 4%;
    margin-bottom: 2%; 
    margin-left: 5%;
    margin-right: 5%;
}


#about-me-text {
    margin-right: 5%;
}

p{
    margin-top: 3%;
    line-height: 125%;
    font-size: calc(14px + 0.5vw)
}

/* work section */
div.card-textbox:link,
div.card-textbox:visited {
    color: var(--dark);
}

.card-project{
    border: 4px solid var(--accent-color);
    margin-top: 2%;
}

.card-textbox {
    background-color: var(--accent-color);
    display: inline-block;
    padding: 2%;
    bottom: 6%;
}

.card-header {
    font-size: 150%;
    padding-bottom: 5%;
}

#work-grid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


a[href*="landing-page"] {
    background-image: url("./photos/landing-page.png");
}

a[href*="doodle-pad"] {
    background-image: url("./photos/doodle-pad.png");
}

a[href*="AdminDashboard"] {
    background-image: url("./photos/admin-dashboard.png");
}

a[href*="calculator"] {
    background-image: url("./photos/calculator.png");
}

a[href*="sign-up-form"] {
    background-image: url("./photos/sign-up-form.png");
}


/* contact me section */
#contact-me-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 120%;

}

#contact-me-links a {
    border-bottom: 5px solid var(--dark);
}

/* footer */
footer{
    margin-top: auto;
    align-self: center;
    color: gray;
    
}


/* Tablets and larger */
@media screen and (min-width: 992px){
    header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    
    #my-name{
        padding-right: 2%;
    }
    
    #header-nav-links {
        flex-wrap: nowrap;
        white-space: nowrap;
    }
    
    #header-nav-links li a {
        margin-left: 10px;
        font-size: 110%;
    }
    
    main{
        display: grid;
        grid-template-columns: 1fr 4fr;
        /* grid-template-rows: repeat(5, 1fr); */
        grid-template-rows: repeat(3, 4fr) 1fr 1fr;
    }

    #about-me{
        grid-column: 1/2 ;
        grid-row: 1/2;
    }

    #about-me-text{
        grid-column: 2/3 ;
        grid-row: 1/2; 
    }

    #work{
        grid-column: 1/2 ;
        grid-row: 2/5; 
    }

    #work-grid {
        grid-column: 2/3 ;
        grid-row: 2/6; 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
        /* grid-template-rows: repeat(4, max(200px, 1fr)); */
        gap: 2%;
    }
/* make this card the largest and on top */
    a[href*="landing-page"] {
        grid-column: 1 / -1;
        grid-row: 1 / 3;
    }
    

    #contact-me {
        grid-column: 1/2 ;
        grid-row: 5/6;
    }

    #contact-me-links{
        grid-column: 2/3 ;
        grid-row: 5/6;
    }
    
    #about-me,
    #work,
    #contact-me  {
        justify-self: right;
        padding-right: 10%;

    }

    

    #contact-me-links a {
        font-size: 130%;
        margin-right: 30px;
    }    
    
    .section-heading {
        border-right: 3px solid var(--dark);
    }
}